*.iml
.gradle
/local.properties
/.idea/caches/build_file_checksums.ser
/.idea/libraries
/.idea/modules.xml
/.idea/workspace.xml
.DS_Store
somefile1
/build
/captures
.externalNativeBuild




somefile1
somefile2
somefile1
somefile1
somefile1
somefile1
somefile1
